<div class="flex flex-col justify-center items-center gap-30 lg:-mt-35 bg-gradient-to-b from-transparent via-purple-600/25 via-70% to-transparent h-screen">
    <div class="flex flex-col gap-20 lg:gap-4 lg:grid lg:grid-cols-2 mx-auto max-w-[1300px]">
        <div
            class="flex flex-col items-center gap-10 bg-white lg:drop-shadow-blue-400 lg:drop-shadow-xl p-8 lg:p-20 lg:rounded-lg font-semibold text-gray-900 text-xl lg:text-2xl text-center lg:text-justify"
        >
            <p class="">
                Desarrollamos estrategias de marketing local medibles y
                enfocadas en un único objetivo: atraer más clientes a tu negocio
                en Galicia. Basamos cada decisión en datos. Utilizamos las
                mejores herramientas de análisis de mercado para entender a tus
                clientes y medir el impacto real de cada acción.
            </p>
            <img
                src="src/assets/dreamarkt-logo.png"
                alt="Dreamarkt Logo"
                class="size-18"
            />
        </div>
        <div
            class="gap-10 grid grid-rows-2 mx-20 font-semibold text-gray-200 text-xl lg:text-2xl text-center lg:text-left italic"
        >
            <div class="flex flex-col gap-6 items-center lg:items-start">
                <p class="text-justify">
                    "Trabajar con Dreamarkt fue todo un éxito. Me apasiona
                    impartir cursos y valoro mucho a las personas que se
                    esfuerzan al máximo y explican las cosas con claridad, y lo
                    hacen de maravilla."
                </p>
                
                <div class="flex gap-2 text-yellow-400 text-2xl not-italic" role="img" aria-label="Valoración: 5 de 5 estrellas">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
            </div>

            <div class="flex flex-col gap-6 items-center lg:items-start">
                <p class="text-justify">
                    "Los recomiendo al 100% a cualquier empresa de A Coruña que
                    necesite ser localizada en internet. Hacen un trabajo
                    excelente y el trato es cercano y profesional."
                </p>
                <div class="flex gap-2 text-yellow-400 text-xl lg:text-2xl not-italic" role="img" aria-label="Valoración: 5 de 5 estrellas">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
            </div>
        </div>
    </div>
</div>
