<div
    class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4 items-center p-12 lg:p-8 h-screen text-white text-4xl lg:text-6xl"
>
    <div class="flex flex-col lg:gap-20 lg:p-8 h-full justify-center ">
        <h1 class="font-bold pb-12 text-center lg:text-left ">
            Soluciones de <span class="text-[#0080ff] font-extrabold">Marketing Digital</span> para
            tu empresa
        </h1>

        <a href="" 
        class="text-xl lg:text-3xl p-4 border-2 border-white font-bold text-white self-center lg:self-start rounded-2xl bg-transparent hover:bg-white hover:text-[#0080ff] transition-colors duration-300 active:bg-white active:text-[#0080ff] cursor-pointer">
            Contáctanos
        </a>

    </div>
    <div class="flex flex-col gap-15 lg:gap-20 h-full justify-center items-center rounded-lg">
        <img
            src="src/assets/dreamarkt-logo.png"
            alt="Dreamarkt Logo"
            class="size-35 lg:size-80"
        />
        <h class="font-bold lg:p-10 ">
            DreaMarkt
        </h>
    </div>

    <span class="hidden lg:flex font-bold text-white text-8xl animate-bounce absolute self-baseline-last justify-self-center" role="img">↓</span>
</div>
