<div class="flex flex-col justify-center items-center gap-30">
    <div>
        <h2 class="text-white font-bold text-5xl text-center my-20">
            Posicionamiento web
        </h2>
        <div
            class="grid grid-cols-[2fr_1fr] gap-10 m-auto h-full cursor-pointer"
        >
            <div class="relative rounded-r-lg overflow-hidden group h-[500px]">
                <!-- Imagen de fondo con filtro hover -->
                <div
                    class="absolute inset-0 bg-[url('src/assets/seo_local.jpg')] bg-cover bg-center transition-all duration-300 ease-in-out group-hover:grayscale"
                >
                </div>

                <!-- Contenido por encima de la imagen -->
                <div
                    class="relative flex flex-col justify-between z-10 h-full bg-black/50 p-8 cursor-pointer"
                >
                    <div class="flex flex-col gap-8">
                        <h3 class="text-[#0080ff] font-bold text-6xl">
                            SEO Local
                        </h3>
                        <p
                            class="text-white font-semibold text-2xl text-left w-1/2"
                        >
                            Hacemos que los clientes de tu ciudad te encuentren.
                            Posicionamos tu negocio en Google Maps, gestionamos
                            tus reseñas y atraemos tráfico de calidad a tu
                            puerta.
                        </p>
                    </div>
                    <div class="text-white text-3xl self-baseline-last m-4">
                        <span class=" font-semibold ">
                            Descubre tu pontencial local 
                            <span class="p-2 px-3 group-hover:bg-green-600/90 transition-all duration-300 rounded-xl ease-in-out">(Análisis Gratuíto)</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-8">
                <div class="bg-white p-8 rounded-lg">
                    <h3>SEO Estratégico</h3>
                    <img src="" alt="" />
                    <p class="">
                        Realizamos auditorías técnicas profundas, estrategias de
                        contenido a gran escala y link building para dominar tu
                        sector a nivel nacional.
                    </p>
                </div>

                <div class="bg-white p-8 rounded-lg">
                    <h3>SEM</h3>
                    <img src="" alt="" />
                    <p>
                        Campañas publicitarias optimizadas para maximizar tu
                        ROI. Especialistas en publicidad digital en Galicia.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2></h2>
        <div></div>
    </div>
</div>
