<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" /> 
		<meta name="generator" content={Astro.generator} />
		<title>Dreamarkt</title>
	</head>
	<body class="items-center justify-center p-0 m-0 bg-gradient-to-b md:bg-gradient-to-br from-slate-900 via-blue-900 to-indigo-950">
		<slot />
	</body>
</html>

<script>
	import '../styles/global.css'
</script>